{% extends 'admin/base.html' %}

{% block title %}
  {{ user.username }}
{% endblock %}

{% block body %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Пользователи</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
      <div class="col-lg-12 mb-4">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Редактирование</h6>
          </div>
          <div class="card-body">
            

            <form class="user" action="{{ url_for('users.edit', id=user.id) }}" method="POST">
              {{ form.csrf_token }}

              {% for field in form %}

              <div class="form-group">

                {% if field.type == "BooleanField" %}
                  <div class="custom-control custom-checkbox small">
                    {{ field(class='custom-control-input') }}
                    {{ field.label(class='custom-control-label') }}
                  </div>
                {% elif field.type == "QuerySelectMultipleField" %}
                  {{ field.label(class='form-control-file') }}
    
                  {% for subfield in field %}
                    <div class="custom-control custom-checkbox">
                      {{ subfield(class='custom-control-input') }}
                      {{ subfield.label(class='custom-control-label') }}
                    </div>
                  {% endfor %}
                {% else %}
                  {{ field.label() }}
                  {{ field(class='form-control') }}
                {% endif %}

              </div>

              {% endfor %}

              <button class="btn btn-primary btn-user btn-block">Сохранить</button>
            
            </form>

          </div>
        </div>
      </div>
    </div>
{% endblock %}